@import '../helpers/variables';

footer {
  position: sticky;
  padding: 10px;
  bottom: 0;
  font-size: 0.8rem;

  a {
    color: $KURENAI;
    text-shadow: 0 0 2px $NADESHIKO;
  }
  a:hover {
    color: $NADESHIKO;
  }
}
