@import '../helpers/variables';
@import '../helpers/animations';

main {
  transition: background-color 2s ease-out;
  background-image: url('../texture.png');
  ul.none-style {
    list-style: none;
    -webkit-padding-start: 0;
    .square {
      width: 4rem;
      height: 4rem;
    }
  }
  div.color {
    position: sticky;
    top: 10px;

    div.color-panel {
      li {
        width: 50px;
      }
      li.spliter {
        border-bottom: 1px solid;
        padding-top: 6px;
        margin-bottom: 6px;
      }

      .color-box {
        .color-label {
          font-size: 0.5rem;
        }
        .color-value {
          font-size: 1.33rem;
          font-family: 'Open Sans'
        }
      }
    }

    div.color-name {
      margin-top: 20px;
    }
    .color-name-roma {
      padding-left: 5px;
    }

    .navigator {
      .red-circle {
        margin-top: -1rem;
        margin-left: -0.9rem;
        margin-bottom: 0.5rem;
        width: 4rem;
        height: 4rem;
        border: 1px solid #bd002d;
        border-radius: 2rem;
        background-color: #bd002d;
      }
      .text-verticle {
        writing-mode: vertical-rl;
        text-orientation: mixed;
      }
    }
  }

  li.color {
    .color-names {
      width: 80%;
      margin-top: 0.33rem;
    }
    .color-line-wrapper {
      width: 80%;
      background-color: rgba(200, 200, 200, 0.6);
      margin-top: 3px;
      margin-bottom: 3px;
      .color-line {
        border-bottom: 1px solid;
      }
    }
  }
}

div.initial { // trick
  .spliter, .color-line{
    border-color: initial;
  }
}

div.white { // trick
  .spliter, .color-line {
    border-color: white;
  }
}
