@import 'components/main';
@import 'components/footer';

.spin {
  animation: spin infinite 20s linear;
  height: 80px;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

a {
  text-decoration: none;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}
