@import 'components/main';

$KURENAI: #cb1b45;
$NADESHIKO: #dc9fb4;

.spin {
  animation: spin infinite 20s linear;
  height: 80px;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

a {
  text-decoration: none;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

footer {
  position: fixed;
  right: 10px;
  bottom: 10px;
  font-size: 0.8rem;

  a {
    color: $KURENAI;
    text-shadow: 0 0 2px $NADESHIKO;
  }
  a:hover {
    color: $NADESHIKO;
  }
}
