@import 'general';
@import 'App';
@import 'node_modules/bootstrap/scss/bootstrap-grid.scss';

html {
  font-size: 16px;
}

ul {
  list-style: none;
  -webkit-padding-start: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
